.content {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.buttons-region {
    display: flex;
    flex-direction: row;
}

.main-region {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.widgets-region {
    width: 75%;
    height: 800px;
    border: 1px solid #160d3b;
    border-radius: 10px;
    background-image: url(src/image/background.jpg);
}

.container {
    width: 100%;
    height: 100%;
}

.settings-region {
    width: 20%;
    height: 800px;
    border: 1px solid #160d3b;
    padding: 20px;
    border-radius: 10px;
    background-color: #45494c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    border-radius: 10px;
    border-color: #8d9399;
    background-color: #45494c;
    width: 80%;
    margin-bottom: 20px;
    color: #fff;
}

.form-control:focus {
    border-color: #8d9399 !important;
}

.btn-primary {
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: #2a292e;
    background-color: #2a292e;
    color: #c6ced5;
}