<div class="content">
  <div class="buttons-region">
    <button type="button" class="btn btn-primary" (click)="addWidget()">
      Добавить виджет
    </button>
    <export-comp></export-comp>
  </div>
  <div class="main-region" id="main-region">
    <div class="widgets-region" id="widgets-region">
      <div class="container" #container>
      </div>
    </div>
    <div class="settings-region">
      <input class="form-control" [(ngModel)]="widgetTitle" (input)="onInputTitle($event)" placeholder="Название виджета">
      <input class="form-control" [(ngModel)]="widgetDescription" (input)="onInputDescription($event)" placeholder="Описание виджета">
      <input type="number" max="40" class="form-control" [(ngModel)]="widgetFontSize"  placeholder="Размер шрифта" (input)="onInputFont($event)">
      <input type="number" max="1400" class="form-control" [(ngModel)]="widgetWidth" placeholder="Ширина виджета" (input)="onInputWidth($event)">
      <input type="number" max="790" class="form-control" [(ngModel)]="widgetHeight" placeholder="Высота виджета" (input)="onInputHeight($event)">
    </div>
  </div>
</div>
