<div #addedWidget class="add-widget" [id]="tabIndex" [tabIndex]="tabIndex" [style.width.px]="widgetWidth" [style.height.px]="widgetHeight">
    <div class="title-element" [style.font-size.px]="fontSize">{{widgetTitle}}</div>
    <div class="description-element" [style.font-size.px]="fontSize">{{widgetDescription}}</div>
    <div class="resizer"></div>
</div>