/* You can add global styles to this file, and also import other style files */
body {
    background-color: gray;    
}

.add-widget {
    width: 200px;
    height: 100px;
    min-width: 100px;
    min-height: 50px;
    padding: 5px;
    position: absolute;
    background-color: #404244;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.resizer {
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 5px;
    background-color: #fff;
    cursor: se-resize;
}

.title-element {
    width: 70%;
    height: 20%;
    margin-bottom: 10px;
    color: #ffffff;
    word-wrap: break-word;
    overflow: auto;
}

.description-element {
    width: 70%;
    height: 60%;
    color: #ffffff;
    word-wrap: break-word;
    overflow: auto;
}
